@model PostingManagement.UI.Models.RoleModel

@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/MainView.cshtml";

}

<h1>Edit Role</h1>

<hr />
<script src="~/js/EditRole.js"></script>

<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

        <div class="card-body">
            <div class="row">
                <div class="col w-100" >
                    <form asp-action="EditRole">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div style="display:inline-flex;" class="w-100">
                                <input asp-for="RoleId" class="form-control" type="hidden" />
                            <div class="form-group m-3">
                                <label class=" control-label">Role Name<i class="text-danger">*</i> </label>
                                <input asp-for="RoleName" class="form-control" />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3 d-flex align-items-end ">
                                <input type="submit" value="Save" class="btn btn-success m-4" />
                            </div>
                            <div class="form-group my-3 d-flex align-items-end ">
                                <a class="btn btn-primary my-4" asp-action="Addrole" asp-controller="Role">Back</a>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

        <div class="card-body">
            <div id="assign">
                <partial name="GetAllRoles" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
