
<table id="getallrolesId" class="display" style="width:100%">
    <thead>
        <tr>
            <th width="80%">Role Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>