
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<PostingManagement.UI.Models.RoleModel>

<table id="getallrolesId" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Role Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>