<table id="userRoleDetails" class="display" style="width:100%">
    <thead>
        <tr>
            <th width="40%">Role</th>
            <th width="40%">User</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

