@model PostingManagement.UI.Models.AccountModels.CreateUserRequestModel

@{
    ViewData["Title"] = "CreateUserName";
    Layout = "MainView";
}

<input type="hidden" value=@ViewBag.CreateUserResponse id="addUserResponse" />

<script src="~/js/createuserrole.js?v=1.2"></script>

<h1 class="card-title">Create New User</h1>

<hr />
<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

        <div class="card-body">

            <div class="row">
                <div class="col w-100">
                    <form asp-action="CreateUserName" id="CreateUserNameForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div style="display:inline-flex;" class="w-100">
                            <div class="form-group my-3 " style="width:20% ;margin-right:2%">
                                <label class="control-label">Roles<i class="text-danger">*</i> </label>
                                @if (ViewBag.Roles != null)
                                {
                                    @Html.DropDownListFor(model =>model.RoleId ,ViewBag.Roles as SelectList,"--select Roles--",new { @class="form-select me-3" })
                                }

                            </div>
                            <div class="form-group my-3">
                                <label class="control-label">User Name<i class="text-danger">*</i> </label>
                                <input asp-for="UserName" class="form-control" />
                            </div>
                            <div class="form-group m-3 d-flex align-items-end ">
                                <input type="button" value="Save" id="CreateUserBtn" class="btn btn-success" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card info-card customers-card">

        <div class="card-body">

            <h5 class="card-title"> All User Details <span></span></h5>
            <hr />
            <div>
                <partial name="_ShowUserRoleDetails">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
