@model PostingManagement.UI.Models.JobFamilyModel

@{
    ViewData["Title"] = "EditJobFamily";
    Layout = "~/Views/Shared/MainView.cshtml";
}

<h1>Edit Job Family</h1>

<hr />
<script src="~/js/EditJobFamily.js"></script>
<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

        <div class="card-body">
            <div class="row">
                <div class="col w-100">
                    <form asp-action="EditJobFamily">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div style="display:inline-flex;" class="w-100">
                            <input asp-for="JobFamilyId" class="form-control" type="hidden" />
                            <div class="form-group m-3">
                                <label class=" control-label">Role Name<i class="text-danger">*</i> </label>
                                <input asp-for="JobFamilyName" class="form-control" />
                                <span asp-validation-for="JobFamilyName" class="text-danger"></span>
                            </div>
                            <div class="form-group m-3 d-flex align-items-end ">
                                <input type="submit" value="Save" class="btn btn-success m-4" />
                            </div>
                            <div class="form-group my-3 d-flex align-items-end ">
                                <a class="btn btn-primary my-4" asp-action="AddJobFamily" asp-controller="JobFamily">Back</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xxl-4 col-xl-12">

    <div class="card info-card customers-card">

        <div class="card-body">
            <div id="assign">
                <partial name="GetAllJobFamily" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }