
<table id="getAllJobFamilyId" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Job Family Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>