@model IEnumerable<PostingManagement.UI.Models.ExcelFileTypes.EmployeeMaster>


<table id="employeeMasterRecords" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                Batch Id
            </th>
            <th>
                Employee Id
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Location
            </th>
            <th>
                Location Desired
            </th>
            <th>
                Department Ro
            </th>
            <th>
                Region Code
            </th>
            <th>
                Region Name
            </th>
            <th>
                Zone Code
            </th>
            <th>
                Zone Name
            </th>
            <th>
                Job Code
            </th>
            <th>
                Designation
            </th>
            <th>
                Role Start Date
            </th>
            <th>
                Scale Code
            </th>
            <th>
                Scale
            </th>
            <th>
                Ubi Job Role
            </th>
            <th>
                Bank Name
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Sex
            </th>
            <th>
                Disability
            </th>
            <th>
                Location Start Date
            </th>
            <th>
                Domicile Zone
            </th>
            <th>
                Ro Start Date
            </th>
            <th>
                Last Promotion Date
            </th>
            <th>
                Zo Start Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> </tbody>
</table>

