<div class="modal fade" id="itemModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"> Records </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">
                    &times;
                </button>                
            </div>
            <div class="modal-body no-padding">
                <div style=" margin:0 auto;">
                    <div class="table-responsive">
                        <table id="employeeMasterRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>
                                        Batch Id
                                    </th>
                                    <th>
                                        Employee Id
                                    </th>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Location Desired
                                    </th>
                                    <th>
                                        Department Ro
                                    </th>
                                    <th>
                                        Region Code
                                    </th>
                                    <th>
                                        Region Name
                                    </th>
                                    <th>
                                        Zone Code
                                    </th>
                                    <th>
                                        Zone Name
                                    </th>
                                    <th>
                                        Job Code
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        Role Start Date
                                    </th>
                                    <th>
                                        Scale Code
                                    </th>
                                    <th>
                                        Scale
                                    </th>
                                    <th>
                                        Ubi Job Role
                                    </th>
                                    <th>
                                        Bank Name
                                    </th>
                                    <th>
                                        Birth Date
                                    </th>
                                    <th>
                                        Sex
                                    </th>
                                    <th>
                                        Disability
                                    </th>
                                    <th>
                                        Location Start Date
                                    </th>
                                    <th>
                                        Domicile Zone
                                    </th>
                                    <th>
                                        Ro Start Date
                                    </th>
                                    <th>
                                        Last Promotion Date
                                    </th>
                                    <th>
                                        Zo Start Date
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                        <table id="departmentMasterRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th>Department Code</th>
                                    <th>Department Name</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="interZonalPromotionRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th>Employee Id </th>
                                    <th>Zone Preference 1</th>
                                    <th>Zone1 Region Preference 1</th>
                                    <th>Zone1 Region Preference 2</th>
                                    <th>Zone1 Region Preference3</th>
                                    <th>Zone Preference2</th>
                                    <th>Zone2 RegionPreference 1</th>
                                    <th>Zone2 RegionPreference 2</th>
                                    <th>Zone2 RegionPreference 3</th>
                                    <th>Zone Preference 3</th>
                                    <th>Zone3 Region Preference 1</th>
                                     <th>Zone3 RegionPreference 2</th>
                                    <th>Zone3 RegionPreference 3</th>
                                    <th>ZonePreference 4</th>
                                    <th>Zone4 Region Preference 1</th>
                                    <th>Zone4 Region Preference 2</th>
                                    <th>Zone4 Region Preference3</th>
                                    <th>Zone Preference 5</th>
                                    <th>Zone5 Region Preference 1</th>
                                    <th>Zone5 Region Preference 2</th>
                                    <th>Zone5 Region Preference 3 </th>
                                </tr>
                            </thead>
                        </table>
                        <table id="interZonalRequestRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th>Employee Id</th>
                                    <th>Employee Name</th>
                                    <th>Gender</th>
                                    <th>Designation</th>
                                    <th>Scale</th>
                                    <th>Location Name</th>
                                    <th>Current Ro</th>
                                    <th>Zone Before Amalgamation</th>
                                    <th>Zone Date Before Amalgamation</th>
                                    <th>Time Away FromZone</th>
                                    <th>Zone After Amalgamation</th>
                                    <th>Zone Date AfterAmalgamation</th>
                                    <th>Direct Promotee</th>
                                    <th>Transfer Category</th>
                                    <th>Temporary TransferMonth </th>
                                    <th>Transfer SequenceNumber</th>
                                    <th>Applied State</th>
                                    <th>Applied Zone</th>
                                    <th>Applied Region1</th>
                                    <th>Applied Region2</th>
                                    <th>Applied Region3</th>
                                    <th>Transfer Reason</th>
                                    <th>Application Date</th>
                                    <th>Diarised Date</th>
                                    <th>Status</th>
                                    <th>Date Of Promotion</th>
                                    <th>Date Of Reversion</th>
                                    <th>Disabled</th>
                                    <th>Date Of Marriage</th>
                                    <th>Specialist Category</th>
                                    <th>Transfer Type</th>
                                    <th>Temporary Transfer Details</th>
                                    <th>Assets and Liabilities Detail</th>
                                    <th>Status of Submission of Approval</th>
                                    <th>Comments</th> 
                                    <th>RequestType</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="branchMasterRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th>Old Branch Code</th>
                                    <th>Branch Code</th>
                                    <th>Branch Name</th>
                                    <th>State </th>
                                    <th>State Id </th>
                                    <th>District </th>
                                    <th>District Id </th>
                                    <th>City</th>
                                    <th>CityId</th>
                                    <th>Area</th>
                                    <th>DateOfOpening</th>
                                    <th>ZoneName  </th>
                                    <th>ZoneCode</th>
                                    <th>RegionCode  </th>
                                    <th>RegionName</th>
                                    <th>BranchType</th>
                                    <th>BankName </th>
                                    <th>AdministrativeFlag  </th>
                                </tr>
                            </thead>
                        </table>
                        <table id="interRegionalPromotionRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th> Employee Id</th>
                                    <th>Current Scale</th>
                                    <th>Promoted Scale</th>
                                    <th>Action</th>
                                    <th>Effdt</th>
                                    <th>Promotion Type</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="interRegionalRequestRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th>Employee Id</th>
                                    <th>Tranfer Sequence Number</th>
                                    <th>Gender</th>
                                    <th>Direct Promotee</th>
                                    <th>Scale</th>
                                    <th>Transfer Type</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Location Name</th>
                                    <th>Current RO</th>
                                    <th>From Zone</th>
                                    <th>Required State</th>
                                    <th>Applied Zone</th>
                                    <th>Date Of Joining</th>
                                    <th>Application Date</th>
                                    <th>Region Before Amalgamation</th>
                                    <th>Region Date Before Amalgamation</th>
                                    <th>Time Spent Away From Region</th>
                                    <th>Region After Amalgamation</th>
                                    <th>Region Date After Amalgamation</th>
                                    <th>Applied Region 1</th>
                                    <th>Applied Region 2</th>
                                    <th>Applied Region 3</th>
                                    <th>Date Of Promotion To Present Date</th>
                                    <th>Date Of Reversion</th>
                                    <th>Date Of Marriage</th>
                                    <th>Temporary Transfer Details</th>
                                    <th>Asset And Liablities Details</th>
                                    <th>Status Of Submission</th>
                                    <th>Comments</th>
                                    <th>Request Type</th>
                                    <th>Transfer Reason</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="zoneMasterRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th>Zone Code</th>
                                    <th>Zone Name</th>
                                    <th>State</th>
                                    <th>State Id</th>
                                    <th>District</th>
                                    <th>District Id</th>
                                    <th>City</th>
                                    <th>City Id</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="regionMasterRecords" style="display: none">
                            <thead>
                                <tr>
                                    <th>Batch Id</th>
                                    <th>Region Code</th>
                                    <th>Region Name</th>
                                    <th>Zone Code</th>
                                    <th>Zone Name</th>
                                    <th>State</th>
                                    <th>State Id</th>
                                    <th>District</th>
                                    <th>District Id</th>
                                    <th>City</th>
                                    <th>City Id</th>
                                </tr>
                            </thead>
                        </table>
                    </div>                   
                </div>
                <style>
                    tr.even {
                        background-color: #F5F5F5 !important;
                    }
                </style>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" id="itemModel2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"> Reason Of Failure </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body no-padding">
                <div style=" margin:0 auto;">
                    <div id="failureReason">  </div>
                </div>
                <style>
                    tr.even {
                        background-color: #F5F5F5 !important;
                    }
                </style>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

