@model IEnumerable<PostingManagement.UI.Models.UploadHistoryDetails>



    <table id="uploadHistory" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Batch Id</th>
                <th>File Name</th>
                <th>Uploaded Date</th>
                <th>Number Of Rows</th>
                <th>Inserted Rows</th>
                <th>Upload Status</th>
            <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

