@model IEnumerable<PostingManagement.UI.Models.EmployeeTransferModels.EmployeeTransferModel>

@{
    ViewData["Title"] = "GetEmployeesForTransfer";
    Layout = "~/Views/Shared/MainView.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" />

<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

<div class="col-xxl-12 col-xl-12">

    <div class="card info-card customers-card">

        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h5 class="card-title">Generate Employee Transfer List<span></span></h5>
                <a class="btn btn-success" onclick="GenerateList()">Generate List</a>
            </div>
            <hr />
            <div class="row">
                
                <div class="col-md-12">
                    <table class="table responsive" id="employeeTransfer">
                        <thead>
                            <tr>
                                <th></th>
                                @*<th><input type="checkbox" name="select_all" id="example-select-all"></th>*@
                                <th></th>
                                <th>Employee Id</th>
                                <th>Name</th>  
                                <th>Scale Name</th>  
                                <th>Scale</th>  
                                <th>Designation</th>  
                                <th>Region</th>  
                                <th>Zone</th>  
                                <th>MovementType</th>  
                                <th></th>
                                @*<th>De(Select)</th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/EmployeeTransfer.js"></script>

@*<script>
    $(document).ready(function () {
        $('#employeeTransfer').DataTable({

        });
    });
</script>*@















