body {
    font-weight: 300;
}

.container {
    height: 30vh;
}

.progresses {
    display: flex;
    align-items: center;
}

.line {
    width: 120px;
    height: 6px;
    background: #808b86;
}
#line1 div{
        background: green;
        height :100%;
        width:0%;
        margin : 0;
        padding : 0;
    }
#line2 div {
    background: green;
    height: 100%;
    width: 0%;
    margin: 0;
    padding: 0;
}
#line3 div {
    background: green;
    height: 100%;
    width: 0%;
    margin: 0;
    padding: 0;
}
#line4 div {
    background: green;
    height: 100%;
    width: 0%;
    margin: 0;
    padding: 0;
}
/*.line.active{
    background: green;
    transform : scaleX(0);
    transform-origin : left;
    animation : animate 0.3s linear forwards;
}*/
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.steps {
    display: flex;
    background-color: #808b86;
    color: #fff;
    font-size: 25px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.steps.active {
        color: #fff;
        background-color:green;
    }
    .steps.activeError {
        color: #fff;
        background-color: #cb1616;
    }
#monthAndYear {
    font-weight: 600;
    color: #4154f1;
}

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

button.close {
    background-color: #5641c200;
    border: 0;
    -webkit-appearance: none;
}

.textbelowstep {
    width: 20%;
}
