@{
    ViewData["Title"] = "ShowDashboard";
    Layout = "MainView";
}

<head>
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <script src="~/js/dashboard.js"></script>
</head>


<div class="pagetitle d-flex justify-content-between">
    <div>
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <div>
        <button id="workFlow" type="button" onclick="ShowWorkFlow()" class="btn btn-success">View Work Flow</button>
    </div>
</div>

<div id="demo" style="display: none">
    <div id="itemModal3" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Work Flow</h4>
                    <button onclick="HideWorkFlow()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <span class="fs-3" id="monthAndYear">@DateTime.Today.ToString("MMMM yyyy")</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <b>status : </b><i class="px-2 py-1 mx-2 fw-semibold bg-opacity-10 border border-opacity-10 rounded-2" id="workflowStatus"></i>
                        </div>
                        <button id="resetWorkflowBtn" type="button" onclick="" class="btn btn-danger mx-4">Reset</button>
                    </div>
                    <div class="container d-flex flex-column justify-content-center align-items-center">
                        <div class="progresses">
                            <div id="steps1" class="steps">
                                <span>1</span>
                            </div>
                            <span id="line1" class="line"><div></div></span>

                            <div id="steps2" class="steps">
                                <span>2</span>
                            </div>

                            <span id="line2" class="line"><div></div></span>

                            <div id="steps3" class="steps">
                                <span>3</span>
                            </div>

                            <span id="line3" class="line"><div></div></span>

                            <div id="steps4" class="steps">
                                <span >4</span>
                            </div>
                            <span id="line4" class="line"><div></div></span>

                            <div id="steps5" class="steps">
                                <span>5</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly w-100 pt-2">
                            <div class="text-center textbelowstep">
                                <span> Employee Master List</span>
                            </div>
                            <div class="text-center textbelowstep">
                                <span> Vacancy List</span>
                            </div>
                            <div class="text-center textbelowstep">
                                <span> Request Transfer List (Zonal/Region)</span>
                            </div>
                            <div class="text-center textbelowstep">
                                <span> Generate Employee Transfer List</span>
                            </div>
                            <div class="text-center textbelowstep">
                                <span>Completed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Excel Upload Reports </h5>
            <div class="w-25 my-3">
                <select id="ReportFiletype" class="form-select ">
                    <option value="1">Branch Master</option>
                    <option value="2">Department Master</option>
                    <option value="3">Employee Master</option>
                    <option value="4">Inter-Region Promotion</option>
                    <option value="5">Inter-Region Request Transfer</option>
                    <option value="6">Inter-Zonal Promotion</option>
                    <option value="7">Inter-Zonal Request Tranfer</option>
                    <option value="8">Region Master</option>
                    <option value="9">Zone Master</option>
                </select>
            </div>
            <!-- Line Chart -->
            <div id="chart">
            </div>
            <!-- End Line Chart -->
        </div>
    </div>
</div>

