@addTagHelper *, DNTCaptcha.Core

@model PostingManagement.UI.Models.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/LoginPage.css" rel="stylesheet">
     
</head>

<body>
    <main>        
        
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4"> 
                                <a href="#" class="logo d-flex align-items-center w-auto"> 
                                    <img src="~/img/logo.png" alt=""> 
                                    <span class="d-none d-lg-block">NS-Posting Management</span>
                                </a>
                            </div>
                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                        <p class="text-center small">Enter your username &amp; password to login</p>
                                    </div>
                                    <form class="row g-3 needs-validation" asp-action="Login" id="loginForm" novalidate>

                                        <div class="col-12">
                                            <label for="UserName" class="form-label required">Username</label>
                                            <div class="input-group has-validation">                                               
                                                <input id="username" for="UserName" type="text" name="username" class="form-control" required>
                                                <div class="invalid-feedback">Please enter your username.</div>
                                            </div>
                                        </div>


                                        <div class="col-12">
                                            <label asp-for="Password" class="form-label required">Password</label>
                                            <input asp-for="Password" type="password" name="password" id="password" class="form-control" required>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Password" class="form-label required">Captcha</label>
                                            <dnt-captcha asp-captcha-generator-max="9000"
                                                         asp-captcha-generator-min="1"
                                                         asp-captcha-generator-language="English"
                                                         asp-captcha-generator-display-mode="SumOfTwoNumbers"
                                                         asp-use-relative-urls="true"
                                                         asp-placeholder="Enter the Captcha"                                                         
                                                         asp-validation-error-message="Please enter the Captcha *"
                                                         asp-font-name="Tahoma"
                                                         asp-font-size="20"
                                                         asp-fore-color="#444"
                                                         asp-back-color="#fff"
                                                         asp-text-box-class="text-box form-control"
                                                         asp-text-box-template="<div class='input-group'>{0}</div>"
                                                         asp-validation-message-class="text-danger visually-hidden CaptchaErrorMessage"
                                                          />
                                        </div>
                                        <div class="col-12"><a asp-action="ResetPassword">Forgot Password ?</a> </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Login</button>
                                        </div>
                                       
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <!-- Passing the ViewBag value by input tag to Js-->
    @if (@ViewBag.LoginResponse != null)
    {
            if (@ViewBag.LoginResponse.IsAuthenticated == false) {
            <input type="hidden" value="@ViewBag.LoginResponse.Message" id="loginResponse"/>
           }  
    }
    else{
        <input type="hidden" value="noResponse" id="loginResponse" />
    }

    <script>

        // alert for invalid Captcha message
        $(function(){
        $.notify($(".CaptchaErrorMessage span").html(), "error");
        });
        // alert for invalid Password and username 
        $(function(){
            let message = $('#loginResponse').val();
            if (message != "noResponse"){                
                $.notify("Invalid Username and Password!!", "error");
            }
        });

        // Validation for Username and Password
        $(document).ready(function () {  
            
            $("#loginForm").submit(function () {                  
                var isValid = true;                            
                if ($("#username").val().trim().length == 0) {
                    isValid = false;                    
                    $("#username").notify("UserName cannot be empty!", "error");                    
                }
                if ($("#password").val().trim().length == 0) {
                    isValid = false;
                    $("#password").notify("Password cannot be empty!", "error");                    
                }  
                if ($("#DNTCaptchaInputText").val().trim().length == 0) {
                    isValid = false;
                    $("#DNTCaptchaInputText").notify("Captcha cannot be empty!", "error");
                }
                return isValid;
            });
        });

    </script>

</body>

</html>
