@model PostingManagement.UI.Models.ResetPasswordRequestModel

@{
    ViewData["Title"] = "ResetPassword";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Template Main CSS File -->
    <script src="~/js/resetpasswordpage.js?v=1.2"></script>
</head>

<body>
    <main>        
        
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-start py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4"> 
                                <a href="#" class="logo d-flex align-items-center w-auto"> 
                                    <img src="~/img/logo.png" alt=""> 
                                    <span class="d-none d-lg-block">Posting Management</span>
                                </a>
                            </div>
                            <div class="card mb-3 ">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
                                        <p class="text-center small">Enter your username &amp; new password for Reset Password </p>
                                    </div>
                                    <form class="row g-3" asp-action="ResetPassword" id="ResetPasswordForm">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-12">
                                            <label asp-for="UserName" class="control-label">Username</label>
                                            <input asp-for="UserName" class="form-control" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="NewPassword" class="control-label">New Password</label>
                                            <input asp-for="NewPassword" type="password" class="form-control" />
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                                            <input id="ConfirmPassword" type="password" class="form-control" />
                                        </div>
                                        <div class="col-12 d-flex btn-group pt-4">
                                            <input type="button" value="Save" id="ResetPasswordBtn" class="btn btn-success rounded-start w-50" />
                                            <a class="btn btn-primary rounded-end w-50" asp-action="Login" asp-controller="Login">Cancel</a>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</body>

</html>


